<div class="page">

  
  <div class="header">

    <div class="logo">Shopiee</div>

    <div class="nav-buttons">
      <button (click)="goToCart()">Cart ({{ cartCount }})</button>
      <button (click)="goToHome()">Home</button>
      <button (click)="logout()">Logout</button>
    </div>

  </div>

  
  <div class="filter-bar">

    <input type="text"
           placeholder="Search products..."
           [(ngModel)]="searchText"
           (input)="filterProducts()">

    <select [(ngModel)]="selectedBrand" (change)="filterProducts()">
      <option value="">Brand</option>
      <option *ngFor="let b of brands">{{ b }}</option>
    </select>

    <select [(ngModel)]="selectedCategory" (change)="filterProducts()">
      <option value="">Category</option>
      <option *ngFor="let c of categories">{{ c }}</option>
    </select>

    <select [(ngModel)]="sortOption" (change)="filterProducts()">
      <option value="">Sort</option>
      <option value="low">Low</option>
      <option value="high">High</option>
    </select>

    <button (click)="resetFilters()">Reset</button>

  </div>

  
  <div class="content">

    <div class="grid">

      <div class="card" *ngFor="let p of filteredProducts">

        <img [src]="p.image">

        <div class="card-content">

          <h3>{{ p.name }}</h3>
          <p class="meta">{{ p.brand }} • {{ p.category }}</p>
          <p class="price">₹{{ p.price }}</p>

          <p class="stock" [ngClass]="{ 'out': p.stock === 0 }">
            {{ p.stock === 0 ? 'Out of Stock' : 'In Stock' }}
          </p>

        </div>

        <div class="card-actions">

          <button class="a"
            (click)="addToCart(p)"
            [disabled]="p.stock === 0">
            Add to Cart
          </button>

          <button (click)="toggleWishlist(p)">
            {{ isInWishlist(p) ? '❤️ Remove' : '🤍 Wishlist' }}
          </button>

        </div>

      </div>

    </div>

  </div>

</div>